{{#if controller.hasNoColors}}
  <div class="well">
    <button class="btn btn-large" {{action createColors}}>Create Demo Colors</button>
  </div>
{{else}}
  {{outlet edit}}
  {{outlet list}}
{{/if}}
