//= require bootstrap

tr.selected td {
  background-color: #555 !important;
  &:last-child {
    outline: 2px dashed #777;
  }
}

td {
  color: white;

  &.buttons {
    width: 200px;
    text-align: center;
  }
}

body {
  padding-top: 90px;
}

footer {
  text-align: right;
  padding: 10px;

  a:first-child {
    margin-right: 20px;
  }
}
